.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.title-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  /* Space between text and buttons */
}

.buttons {
  display: flex;
  gap: 15px;
  /* Space between buttons */
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  /* Space between testimonials */
}

.testimonial-container h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;

}

.images-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.images-row img {
  width: 100px;
}